.Home{
    margin: 0 3.5rem 0 21.5rem;
    text-align: left;
    overflow: 'scroll'
}

#H-wolf{
    border-radius: 50%;
    background: rgba(200, 200, 200, .1);
    width: 140rem;
    height: 140rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -31rem;
    left: 35rem;
    z-index: -2;
    -webkit-animation: slide-left 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#H-wolf > div{
    border-radius: 50%;
    background: rgba(180, 180, 180, .1);
    width: 125rem;
    height: 125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#H-wolf > div > div{
    border-radius: 50%;
    background: rgba(160, 160, 160, .1);
    width: 110rem;
    height: 110rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#H-wolf > div > div > div{
    border-radius: 50%;
    background: rgba(140, 140, 140, .2);
    width: 95rem;
    height: 95rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#H-wolf > div > div > div > div{
    border-radius: 50%;
    background: rgba(120, 120, 120, .3);
    width: 80rem;
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#H-wolf > div > div > div > div > div{
    border-radius: 50%;
    background: rgba(50, 50, 50, .3);
    width: 65rem;
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#H-img{
    position: absolute;
    top: 13rem;
    left: 81rem;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.H-title{
    color: var(--color-white);
    font-size: 10vw;
    margin-left: -0.5rem;
    font-weight: 400;
    letter-spacing: 1.55rem;
    z-index: 1;
    -webkit-animation: slide-top 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.H-sub{
    width: 30rem;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    height: 10rem;
    color: var(--color-danger);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 500ms ease;
    -webkit-animation: slide-top 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.H-sub:hover{
    opacity: 0.7;
}
.H-sub.active{
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-left: 42rem;
}

.H-sub > .s1{
    width: 23rem;
    height: 0.5rem;
    margin: 0 0 0.3rem 0;
    border-radius: 0.5rem;
    background: var(--color-danger);
    transition: all 500ms ease;
}
.H-sub > .s1.active{
    transform: translateX(-4rem) translateY(-2rem) scaleX(7);
}

.H-sub > .s2{
    width: 23rem;
    height: 0.5rem;
    margin: 0.3rem 0 0 6.4rem;
    border-radius: 0.5rem;
    background: var(--color-danger);
    transition: all 500ms ease;
}
.H-sub > .s2.active{
    transform: translateX(27rem) translateY(1rem) scaleX(7);
}

.H-main{
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.5rem;
    -webkit-animation: slide-top 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Home > section{
    height: 100vh;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home > section > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number{
    font-size: 20rem;
    font-weight: 600;
    width: 26rem;
    color: var(--color-white);
    -webkit-animation: slide-left 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 1;
}

/*Section 1*/
.section-1 > .H-title{
    -webkit-animation: slide-right 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.section-1 > .H-sub{
    width: 19rem;
    margin-top: 8rem;
}

.section-1 > .H-sub > .s1, .section-1 > .H-sub > .s2{
    width: 12.5rem;
}

.section-1 > .H-main{
    -webkit-animation: slide-right 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.section-1 > #CH-main{
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: flex-start;
}

/*Section 2*/
.section-2 > div > div > div{
    text-align: center;
}

.section-2 > div > div > div > img{
    height: 25vh;
    margin: 5rem 5rem 0 5rem;
    border-radius: 1rem;
    opacity: 0.7;
    filter: grayscale(1);
    cursor: pointer;
    transition: all 500ms ease;
}
.section-2 > div > div > div > img:hover{
    opacity: 1;
    transform: scale(1.1);
    filter: none;
}

/*Section 3*/
.section-3 > div > div{
    position: relative;
    width: 104rem;
}

.section-3 > div > div > img{
    height: 84.5vh;
    border-radius: 5rem;
    position: absolute;
    bottom: -15.5vh;
    right: -25.7rem;
    filter: brightness(0.6);
    cursor: pointer;
    z-index: 0;
    -webkit-animation: slide-scale-m 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-scale-m 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Section 4*/
.section-4 > div > div > a{
    display: block;
    color: var(--color-white);
    opacity: 0.7;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: all 500ms ease;
    -webkit-animation: slide-top 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.section-4 > div > div > a:hover{
    opacity: 1;
}

.section-4 > div > div > div{
 
    gap: 3rem;
    margin: 5rem 0;
    width: calc(100vw - 3rem);
}

.section-4 > div > div > div > a{
    display: inline-block;
    margin: 2rem;
}

.section-4 > div > div > div > a > ion-icon{
    opacity: 0.7;
    transition: all  350ms ease;
}
.section-4 > div > div > div > a > ion-icon:hover, .section-4 > div > div > div > a > img:hover{
    opacity: 1;
    transform: scale(1.5);
}

.section-4 > div > div > div > a > img{
    width: 3rem;
    height: 3rem;
    opacity: 0.7;
    border-radius: 0.3rem;
    filter: grayscale(1);
    background: var(--color-white);
    transition: all 350ms ease;
}

footer{
    height: 5rem;
    padding-top: 1.5rem;
    text-align: right;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

footer > p > span{
    color: var(--color-danger);
    font-weight: 600;
}


@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }
    40% {
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }
    60% {
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(20rem);
        transform: translateX(20rem);
    }
    40% {
        -webkit-transform: translateX(20rem);
        transform: translateX(20rem);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(20rem);
        transform: translateX(20rem);
    }
    40% {
        -webkit-transform: translateX(20rem);
        transform: translateX(20rem);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-top{
    0% {
        -webkit-transform: translateY(8.2rem);
        transform: translateY(8.2rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-top{
    0% {
        -webkit-transform: translateY(8.2rem);
        transform: translateY(8.2rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-scale-m{
    0% {
        -webkit-transform: translateX(-2rem) translateY(-6rem) scale(1.2);
        transform: translateX(-2rem) translateY(-6rem) scale(1.2);
    }
    100% {
        -webkit-transform: translateX(0) translateY(0) scale(1);
        transform: translateX(0) translateY(0) scale(1);
    }
}
@keyframes slide-scale-m{
    0% {
        -webkit-transform: translateX(-2rem) translateY(-6rem) scale(1.2);
        transform: translateX(-2rem) translateY(-6rem) scale(1.2);
    }
    100% {
        -webkit-transform: translateX(0) translateY(0) scale(1);
        transform: translateX(0) translateY(0) scale(1);
    }
}


@media only screen and (max-width: 960px){
    .Home{
        margin: 0;
        padding: 1.5rem;
    }

    #H-wolf{
        display: none;
    }

    #H-img{
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0.3;  
    }

    .Home > section{
        padding-bottom: 15rem;
    }
    .Home > .section-4{
        padding-bottom: 10rem;
    }
    
    .H-title{
        font-size: 10vw;
        margin: 0;
        font-weight: 400;
        letter-spacing: 1rem;
        flex: 1;
    }

    .section-1 > .H-sub{
        margin: 0;
        flex: 2;
    }

    .section-1 > #CH-main{
        margin: 0;
        flex: 1;
    }

    .H-main{
        font-size: 3.5vw;
    }

    .H-sub.active{
        font-size: 4rem;
    }
    .H-sub > .s1.active{
        transform: translateX(7Rem) translateY(-2rem) scaleX(2.4);
    }
    .H-sub > .s2.active{
        transform: translateX(4rem) translateY(1rem) scaleX(2.7);
    }
    
    .section-2 > div > div > div > img{
        height: 12rem;
        margin: 4rem 2rem;
    }

    .section-3 > .H-sub{
        margin: 2rem 0;
    }

    .section-3 > div > div > img{
        height: auto;
        width: 100%;
        position: static;
        margin-top: 2rem;
        z-index: 1;
        /*falta corregir que tapa a Left*/
    }

    .number{
        display: none;
    }

    .section-4 > div > div > a{
        font-size: 1.5rem;
    }

    footer{
        text-align: left;
    }
}